<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Socket game</title>

    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="/css/lib/bootstrap-1.0.0.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <!-- scripts -->
    <script type="text/javascript" src="/js/lib/underscore-min.js"></script>
    <script type="text/javascript" src="/js/lib/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="/js/lib/raphael-min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
  </head>
  <body>
    <div id="page"></div>

    <script id="template-stage" type="text/template">
      <div id="stage"></div>
    </script>

    <script id="template-sounds" type="text/template">
      <section id="sounds">
        <audio id="sound-clap" title="clap" autobuffer>
          <source src="/sounds/clap.wav" type="audio/x-wav" />
          <source src="/sounds/clap.ogg" type="application/ogg" />
          <source src="/sounds/clap.mp3" type="audio/mpeg" />
        </audio>
        <audio id="sound-snare" title="snare" autobuffer>
          <source src="/sounds/snare.wav" type="audio/x-wav" />
          <source src="/sounds/snare.ogg" type="application/ogg" />
          <source src="/sounds/snare.mp3" type="audio/mpeg" />
        </audio>
        <audio id="sound-bass" title="bass" autobuffer>
          <source src="/sounds/bass.wav" type="audio/x-wav" />
          <source src="/sounds/bass.ogg" type="application/ogg" />
          <source src="/sounds/bass.mp3" type="audio/mpeg" />
        </audio>
        <audio id="sound-hihat" title="hi-hat" autobuffer>
          <source src="/sounds/hihat.wav" type="audio/x-wav" />
          <source src="/sounds/hihat.ogg" type="application/ogg" />
          <source src="/sounds/hihat.mp3" type="audio/mpeg" />
        </audio>
      </section>
    </script>
  </body>
</html>
